/.idea/
/nbproject/
desktop.ini
/vendor/
.env
node_modules/
public/
assets/
webpack.config.js
tests/template-compile/
composer.lock
tests/phpunit.*.xml
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache